body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.help-block { display: none; }
.form-group.has-error .help-block { display: block; }

.goals-container {
  background-color: lightslategrey;
}

.progress-label {
  float: left;
  margin-right: 1em;
}