body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.help-block { display: none; }
.form-group.has-error .help-block { display: block; }

.goals-container {
  background-color: rgb(218, 217, 216);
  padding: 20px;
  margin-left: 15px;
  width: 350px;
  border-radius: 10px;
}

.progress-label {
  float: left;
  margin-right: 1em;
}

.goal-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-container {
  background-color: rgb(218, 217, 216);
  padding: 20px;
  margin: 15px;
  width: 350px;
  border-radius: 10px;
}

.recharts-default-legend {
  margin-top: 15px;
}

.recharts-legend-wrapper {
  margin-top: 15px;
}
.progress-container {
  height: 100%;
  width: 200px;
  top: 60px;
  position: absolute;
  left: 800px;
  padding: 20px;
}
.link {
  font-size: 18px;
  color: white;
}
#signout {
  margin-top: 8px;
}
.navbar-inverse .navbar-brand {
  color: orange;
}

.radial-container {
  width: 350px;
  top: 60px;
  position: absolute; 
  left: 370px;
  padding: 20px;
  text-align: center;
}
.radial-container > h2 {
  margin-bottom: 0px;
}
.comparison-container {
  position: absolute;
  left: 360px;
  top: 430px;
  text-align: center;
  
}
.page-container {
  margin-left: 10px;
  margin-right: 10px;
}

.completeStatus {
  display: inline;
}